.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width: 25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar deign start */
.nav-heading{
    text-align: left;
}

.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
    
}
.nav-menu a{
    padding: 5px 10px;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: transparent;

}
/* navbar design ends here */


.aboutme-img img{
    /* border: 2px solid white; */
    height:220px ;
    width: 200px;
    border-radius: 0%;
    box-shadow: 5px 5px 10px #1c1e22,
    -5px -5px 10px #262a2e;
}





/* Profile Design start here */
.profile{
    height: 85vh;
}
.top-loader {
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f9004d;
    border-bottom: 16px solid #f9004d;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    right: 60px;
    top: 20px;
    position: absolute;
  }
  .bottom-loader {
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #f9004d;
    border-bottom: 16px solid #f9004d;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    left: 60px;
    bottom: 20px;
    position: absolute;
  }


.profile-des p{
    color: grey;
    text-align: center;
    width: 50%;
    margin: 0 auto ;
}
/* profile design ends here */


/* about me start here */

.about-me{
    text-align:justify;
    height: 100vh;
}
.about-me h2{
    text-align: center;
}

.aboutme-img img{
    box-shadow: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
    /* border: 2px solid white; */
    height:500px ;
    width: 400px;
}

.aboutme-des p{
    text-align: left;
}

.devider{
    border-bottom: none;
    margin-top: 200px;
}


/* about me ends here */

